*,
*::before,
*::after {
box-sizing: border-box;
} 

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 15px;
}
/* header */
.wraper {
    max-width: 940px;
    margin: 20px auto;
}

header {
    width: 100%;
    min-height: 50px;
    background-color: #ddfa82;
    padding: 14px 40px;
}

.content {
    display: flex;
    margin: 15px;
}

.main {
    width: 80%;
}

.main-1 {
    width: 50%;
}

.main-inner {
    background-color: #c7dffc;
    margin-right: 60px;
    padding: 20px 30px 30px 15px;
}

.main-inner.third {
  margin-right: 15px;
}

h3 {
    color: #666666;
}

h4 {
    margin-bottom: 10px;
}

.aside {
    width: 20%;
}

.aside-1 {
    width: 22%;
}

.aside-2 {
    width: 28%;
}

.aside-inner {
    background-color: #fcc7dc;
    padding: 20px 16px 25px 20px;
}

.aside-iner.third {
    padding: 20px 5px;
    background-color: #f8db8a;
    margin-right: 15px;
}

ul {
  list-style-type: none;
  padding-inline-start: 10px;
}

.second {
  padding-inline-start: 25px;
}

li::before {
   content: "";
   width: 5px;
   height: 5px;
   background-color: #000;
   display: inline-block;
   border-radius: 5px;
   margin-right: 5px;
  }

.right {
    margin-left: 40px;
}

.aside-inner.higher {
    margin-top: -40px;
}


footer {
    width: 100%;
    min-height: 50px;
    background-color: #a7cda8; 
    padding: 18px 15px;
    margin-bottom: 20px;
}

.nav-link {
    display: inline-block;
    padding: 0;

}

.nav-link::after  {
    content:"";
    width: 2px;
    height: 12px;
    background-color: #5a705b;
    display: inline-block;
    margin-left: 4px;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link:last-child::after {
  display: none;
}
  
/* float */

.test-float {
    max-width: 600px;
    padding: 38px;
    margin: 0 auto;
}

.img-left {
  float:left;
  margin-right: 16px;
  margin-bottom: 8px;
}

.img-right {
  float: right;
  margin-left: 20px;
  margin-right: 10px;
}

.left-column {
  float: left;
  width: 22%; 
}

.right-column {
  float: right;
  width: 78%;
}

.last-paragraph {
  clear: both;
}

p {
  margin-left: 5px;
  margin-bottom: 16px;
}

/* float-second */

.float-second {
  max-width: 727px;
  margin: 20px auto;
  padding: 5px;
  background-color: aqua;
}

.inner {
  border: #000 solid 2px;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.inner.fix::after {
  content: "";
  display: block;
  clear: both;
  height: 0;
}

/* flex */
.page {
  background-color: black;
}