*,
*::before,
*::after {
box-sizing: border-box;
} 

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}
/* header */
.wrapper {
    max-width: 940px;
    margin: 20px auto;
}

header {
    width: 100%;
    min-height: 50px;
    background-color: #ddfa82;
}

.content {
    display: flex;
    margin: 15px;
}

.main {
    width: 65%;
}

.main-inner {
    background-color: #c7dffc;
    margin-right: 60px;
    padding: 20px 30px 30px 15px;
}

h3 {
    color: #666666;
    padding-top: 13px;
    padding-left: 30px;
}

h4 {
    margin-bottom: 10px;
}

.aside {
    width: 35%;
}

.aside-inner {
    background-color: #fcc7dc;
    padding: 20px 16px 25px 20px;
}

footer {
    width: 100%;
    min-height: 50px;
    background-color: #a7cda8; 
    padding-top: 20px;
    padding-left: 15px;
}
